body{
    background-color:burlywood;
}
#container{
    display: grid;
    background-color: aliceblue;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    grid-template-columns: auto auto;
    border: 2px gray inset;
}
#myInteraction{
    padding: 10px;
}

#mapImage{
    max-width: 100%;
    height: auto;

    
}