.cheat{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 300px;
    height: 350px;
    color: rgb(247, 23, 23);
    background-color:rgb(24, 46, 24);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border:khaki 20px inset;
}
.catalog{
    position: absolute;
    top: 200px;
    left: 700px;
    width: 100px;
    height: 350px;
    color: rgb(247, 23, 23);
    background-color:rgb(24, 46, 24);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border:khaki 20px inset;
}
.head{
    position: absolute;
    left: 500px;
    top: 50px;
    width: 300px;
    height: 100px;
    background-color: forestgreen;
    color: rgb(24, 1, 1);
    border: khaki 20px inset;
}
body{
    background-color: rgb(175, 245, 63);
}